*{	/* '*' is for universal behavior */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;  /*this gives it a smoother scrolling animation when page is click*/
}

/* nav bar */

.navbar{/* '.' identifies the class to be linked to*/
	display: flex;	/*flex is used instead of inline to use the background on the entire line for the nav bar effect*/
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	position: sticky; /*merges relative and fix position once page scrolls away*/
	top: 0;
}

/*adding 'ul after states that it only applies to 'ul' within the nav bar*/
.navbar ul{ 
	display: flex;
	list-style: none; /*remove the dots from the nav bar since ul is used*/
	margin: 20px 0px;
}

.navbar ul li{
	font-family: monospace;
	font-size: 1.1rem; /*rem is value we muiltiple the parents size with*/
	font-weight: bold;
}

.navbar ul li a{
	text-decoration: none;
	color: white;
	padding: 8px 25px;
	transition: all .5s ease; /*time delay for animation*/
}

.navbar ul li a:hover{ /*identify condition where mouse is over the nav element*/
	background-color: white;
	color: black; /*flip colours from original scheme before being hovered over*/
	box-shadow: 0 0 10px white;
}

/*home page*/

#home{
	display: flex;
	flex-direction: column;		/*top to bottom lay out*/
	background-color: rgba(0, 0, 0, 0.5);
	height: 840px;
	justify-content: center;
	align-items: center;
	color: white;
}

#home::before{ /*'#' is used to lock on the single elements while . is to many*/
	content: ""; /*also note that :: before is used to lock in the image and not effect the passage after*/
	position: absolute;  /*position relative to first postion used item which is navbar in the example*/
	top: 0;
	right: 0;
	background: url('images/17499.jpg') no-repeat center center/cover;
	height: 900px;
	width: 100%;
	z-index: -1;	/*stack order, only works with position*/
	opacity: .8;  /*transparent level*/

}

.main{	/*conten placement*/
	display: flex;
	flex-direction: column;
	/* boarder: 1px solid white; */
	align-items: center;
	position: absolute;
	top: 30%;
	right: 10%;
}

.main h1{
	font-family: 'Short Stack', cursive; /*use of google font*/
}

.headings{
	font-family: sans-serif;
	font-size: 2rem;
	text-align: center;
	margin: 40px 0px;
}

.btn{
	padding: 10px 35px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	outline: none;
	transition: 0.6s ease;
}
.btn:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	box-shadow: 0 0 5px white;
	font-weight: bold;
}

/*about*/ 

#about{
	display: flex;
	flex-direction: column;
	box-sizing: boarder-box;
	padding: 20px;
	margin-bottom: 50px;
	font-family: 'Short Stack', cursive;
}

#pic{
	display: flex;
}
#pic img{
	width: 575px;
	height: 400px;
}

#intro{
	display: flex;
	flex-direction: column;
	text-align: justify;
	padding: 10px;
}
#intro h2{
	font-size: 2rem;
	margin-bottom: 20px;
}

/*interest*/

#interest{
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	align-items: center;
	padding: 20px;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	box-sizing: border-box;
}
.gallery img{
	width: 360px;
	height: 240px;
}

/*skill*/

#skill{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
}

.box{
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 450px;
	border: 1px solid black;
	margin: 10px;
	align-items: left;
	text-align: justify;
	padding: 10px;
	border-radius: 15px;
	background: linear-gradient(to top, blue 50%, white 50%); /*colour change from bottom to top where goes from white to blue 50 percent is half the size*/
	background-size: 100% 200%; /*width is fully cover while double the height which works with 50 percent previouly calculated*/
	transition: all .8s;
	font-size: 14px;
}

.box:hover{
	background-position: left bottom; /*set where the backgorund begins*/
	color: white;
	border: none;
	box-shadow: 0 0 20px blue; /*making sure the shadow matches the box*/
}

/*contact*/

#contact{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.9);
	color: white;
}

.form{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	margin: 20px 0px;
}

.input{
	padding: 12px;
	margin:  15px;
	width: 30%;
	border: none;
	outline: none;
}

#msg{
	padding: 10px;
	margin:  15px;
	width: 40%;
	border: none;
	outline: none;
}	

#send{
	padding: 10px;
	margin:  15px;
	width: 10%;
	border: none;
	outline: none;
}


#send:hover{
	cursor: pointer;
	box-shadow: 0 0 10px white;
}








